@model List<OrderVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_dashboardLayout";
    ViewData["Title"] = "Orders";
    SelectList deliveries = new SelectList(ViewBag.deliveries, "Id", "Name");
}

<div class="section-padding show-data">
    <div class="container">
        <div class="head-title">
            <p>Orders</p>
            <h3>Wherever You Are, We Are</h3>
        </div>
        <div class="data-table overflow-hidden rounded-3 mt-5 bg-white">
            <div class="table-header p-2 bg-light d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center gap-3">
                <h3>Orders</h3>
            </div>
            <div class="px-2 py-3 table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Serial</th>
                            <th scope="col">Date</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Client</th>
                            <th scope="col">Location</th>
                            <th scope="col">Total Weight</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col">Delivery</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.id</th>
                                <td>@item.order_Date</td>
                                <td>
                                    @item.customer_Name <br />
                                    @item.customer_Phone
                                </td>
                                <td>
                                    @item.client_Name<br />
                                    @item.client_Phone
                                </td>
                                <td>
                                    @item.branch_Name<br />@item.governorate_Name
                                    <br />
                                    @item.city_Name<br />
                                    @item.client_Village
                                </td>
                                <td>@item.total_Weight</td>
                                <td>@item.total_Price</td>

                                <td>
                                    @if(item.delivery_Name != null)
                                    {
                                    @item.delivery_Name<br />
                                        @item.delivery_Phone
                                    } else
                                    {
                                        <select
                                                name="delivery_Id"
                                                id="deliveryChange @item.id"
                                                onchange="UpdateDelivery(@item.id)"
                                                class="rounded-3 p-2" asp-items="deliveries">
                                            <option value="" disabled selected>
                                                Select Delivery
                                            </option>
                                        </select>
                                    }
                                </td>
                                <td>
                                    @item.status
                                    <br>
                                    @if(@item.status == "New" || item.status == "Waiting")
                                    {
                                    <select class="p-2 rounded-3"
                                            name="status"
                                            id="statusEmployee @item.id"
                                            onchange="updateStatus(@item.id)">
                                        <option value="" selected disabled>Change Status</option>
                                        <option value="New">New</option>
                                        <option value="Waiting">Waiting</option>
                                        <option value="Assigned To Delivery">
                                            Assigned To Delivery
                                        </option>
                                    </select>
                                        
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<partial name="_ValidationScriptsPartial" />*@
    <script>
        function updateStatus(id) {
            var status = document.getElementById(`statusEmployee ${id}`).value;
            $.ajax({
                url: `/order/UpdateStatusEmp/${id}?status=${status}`,
                success: function (result) {
                }
            });
        };
        function UpdateDelivery(id) {
            var delivery_Id = document.getElementById(`deliveryChange ${id}`).value;
            $.ajax({
                url: `/order/UpdateDelivery/${id}?delivery_Id=${delivery_Id}`,
                success: function (result) {
                }
            });
        }
    </script>
}